* {
    text-align: center;
}

html, body {
    height: 100%;
}

td {
    padding: 0 !important;
}

input, button {
    border-radius: 0 !important;
}

select {
    background: initial;
    cursor: pointer;
}


/* ::-webkit-scrollbar {
    display: none;
} */